body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.card{
  float: left;
}
.eightcards{
  width: 1000px;
}

.filters {
  /*text-align:center;*/
  /*border: 1px solid rgb(0,0,0);*/
  /*width:20px;*/
  /*height:20px;*/
  float: left;
  padding: 10px;
}
.filter-footer{
  clear: left;
  height: 0;
}